<html lang="en">
          <head>
            <meta charset="utf-8">

            <link href="https://fonts.googleapis.com/css?family=Fjord&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
          
          </head>
          
          <body>
            <div class=order_page>
              <button  class="request_button" onclick="window.location.href='payment.html'"></button>
              <a href = "payment.html"  class="request_billing"><span>REQUEST BILLING</span></a>
              <div class=the_whole_bar>
                <div  class="logo"></div>
                <span  class="_table_id_">_table_id_</span>
                <div  class="navi1"></div>
                <span  class="log_out">Log out</span>
                <div class="navigationBar">
                  <button class="AboutBar" onclick="window.location.href='aboutUs.html'">About</button>  
                  <button class="MenuBar" onclick="window.location.href='menu.html'">Menu</button> 
                  <button class="CartBar" onclick="window.location.href='cart.html'">Cart</button> 
                  <button class="HomeBar" onclick="window.location.href='homepage.html'">Home</button> 
                  <button class="OrderBar" onclick="window.location.href='order.html'">Order</button> 
                </div>
                </div>
              </div>
              <div class=order_table_1>
                <span  class="Table1">Table 01</span>
                <div  class="order_aline1"></div>
                <div class=order_abar>
                  <div  class="order_aline2"></div>
                  <span  class="order_actions">Actions</span>
                  <span  class="order_status">Status</span>
                  <span  class="order_quantity">Quantity</span>
                  <span  class="order_no">No.</span>
                  <span  class="order_dish">Dish</span>
                </div>
                <div class=order_table_1_order1>
                  <span  class="order_table_1_order11">Order 1</span>
                  <span  class="order_table_1_order1_no2">2</span>
                  <span  class="order_table_1_order1_no1">1</span>
                  <span  class="order_table_1_order1_quan2">2</span>
                  <span  class="order_table_1_order1_quan1">1</span>
                  <span  class="order_table_1_order1_dish2">Tempura</span>
                  <span  class="order_table_1_order1_dish1">Sashimi </span>
                  <span  class="order_table_1_order1_status2">Cooking</span>
                  <button  class="order_table_1_order1_action2">Delete</button>
                  <button  class="order_table_1_order1_action1">Delete</button>
                  <span  class="order_table_1_order1_status1">Cooking</span>
                </div>
                <div class=order_table_1_order2>
                  <span  class="order_table_1_order22">Order 2</span>
                  <span  class="order_table_1_order2_no2">2</span>
                  <span  class="order_table_1_order2_no1">1</span>
                  <span  class="order_table_1_order2_quan2">2</span>
                  <span  class="order_table_1_order2_quan1">1</span>
                  <span  class="order_table_1_order2_dish2">Miso soup</span>
                  <span  class="order_table_1_order2_dish1">Sashimi </span>
                  <span  class="order_table_1_order2_status2">Canceled</span>
                  <span  class="order_table_1_order2_action2">Delete</span>
                  <span  class="order_table_1_order2_action1">Delete</span>
                  <span  class="order_table_1_order2_status1">Canceled</span>
                </div></div></div>
          </body>
          </html>