<html lang="en">
          <head>
            <meta charset="utf-8">
            <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
          </head>
          
          <body>
            <div class=about_us_page>
              <div class=content>
                <span  class="About_us">About us </span>
                <span  class="about_intro1">Restaurant Management Website</span>
                <span  class="about_intro2">We are four members of the REPYNN team. This project is the product of CS300 - Software Engineering.
                The goal of the website is to help the restaurant management system and automate as much as possible. Thereby helping the restaurant's staff to serve customers with fresh and delicious food as quickly as possible.</span>
                <div class=about_intro3>
                  <div  class="about_intro4">
                 </div>
                 <span  class="learn_more">Learn more </span>
                </div>
                <div  class="about_intro5"></div>
              </div>
              <div  class="about_intro6"></div>
              <div class=the_whole_bar>
                <div  class="logo"></div>
                <span  class="_table_id_">_table_id_</span>
                <div  class="navi1"></div>
          <span  class="log_out">Log out</span>
                <div class="navigationBar">
                  <button class="AboutBar" onclick="window.location.href='aboutUs.html'">About</button>  
                  <button class="MenuBar" onclick="window.location.href='menu.html'">Menu</button> 
                  <button class="CartBar" onclick="window.location.href='cart.html'">Cart</button> 
                  <button class="HomeBar" onclick="window.location.href='homepage.html'">Home</button> 
                  <button class="OrderBar" onclick="window.location.href='order.html'">Order</button> 
                </div>
                </div>
              </div>
            </div>
          </body>
          </html>