<html lang="en">
          <head>
            <meta charset="utf-8">
            <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Glory&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gentium+Basic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gluten&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Freckle+Face&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
          
          </head>
          
          <body>
            <div class="homePage1">
              <div class="navigationBar">
                <button class="AboutBar" onclick="window.location.href='aboutUs.html'">About</button>  
                <button class="MenuBar" onclick="window.location.href='menu.html'">Menu</button> 
                <button class="CartBar" onclick="window.location.href='cart.html'">Cart</button> 
                <button class="HomeBar" onclick="window.location.href='homepage.html'">Home</button> 
                <button class="OrderBar" onclick="window.location.href='order.html'">Order</button> 
              </div>
              <div class="homePage2"></div>
              <div class="homePage3">
                <span  class="welcome">WELCOME TO REPYNN!</span>
                <span  class="intro1">Japanese to the Bone</span>
                <span  class="intro2">This Italian restaurant has quickly become a local area staple. With an amazing range of Japanese dishes of both classic and modern traditions, starting with sushi and sashimi and all the way to yakisoba and sukiyaki, our menu stands out!</span>
              </div>
              <div class=homePage4>
                <div class="intro4">
                  <div class="intro5">
                    <span  class="Starters">Starters</span>
                  </div><div class=intro6>
                    <span  class="Drinks">Drinks</span>
                  </div>
                  <div class=intro7>
                    <span  class="Desserts">Desserts</span>
                  </div>
                </div>
              </div>
              <div class=intro8>
                <div class=intro9>
                  <div class=intro10>
                    <div  class="intro11">
                    </div>
                    <div  class="intro12">
                    </div>
                    <div  class="intro13">
                    </div>
                  </div>
                </div>
                <span  class="dishOfDay">OUR DISHES OF THE DAY</span>
                <span class="order_now">Order now</span>  

                <div class=intro14>
                  <div class=intro_dish1>
                    <span  class="sushi">Sushi</span>
                    <span  class="price_sushi">$1000</span>
                  </div>
                </div>
                <div class=intro15>
                  <div class=intro_dish2>
                    <span  class="Rice">Rice</span>
                    <span  class="price_rice">$2000</span>
                  </div>
                </div>
                <div class=intro16>
                  <div class=intro_dish3>
                    <span  class="Tea">Green Tea</span>
                    <span  class="price_tea">$1500</span>
                  </div>
                </div>
                <div class=intro17>
                  <div class=intro18>
                    <div class="intro19">
                    </div>
                    <button class="lets_order" onclick="window.location.href='menu.html'">Let’s Order</button>  
                  </div>
                </div>
              </div>
              <div class=address>
                <span  class="addressdetail">Alexandria, 32 Washingtorn str, 22303 Opening hours: Mo-Fr 11:00-00:00, Sa-Sa 15:00-00:00 Call 123-456-7890</span>
<div  class="e55_655">
</div>
</div>
<div class=e55_667>
  <div  class="e55_668"></div>
  <span  class="e55_669">MODERN & CLASSIC DISHES</span>
  <span  class="e55_670">traditional dishes</span>
  <span  class="e55_671">When we’ve been composing the menu for our restaurant, we’ve decided to put an emphasis on a balanced combination of old and new.So, we’re combining some traditional Italian dishes with some experimental recipes.</span>
  <div  class="e55_672"></div>
</div>
<div class=e149_824>
  <div class=e149_827>
    <div class=e55_673>
      <div  class="ei55_673_55_611"></div>
      <button class="ei55_673_55_612" onclick="window.location.href='menu.html'">About</button>  
    </div>
  </div>
</div>
<div  class="logo"></div>
<span  class="_table_id_">_table_id_</span>
<div  class="navi1"></div>
<span  class="log_out">Log out</span>
<div class=e148_820>
  <div class=e149_825>
    <div class=e55_606>
      <span  class="e55_607">We’ve  Got  So  Much  More</span>
      <span  class="e55_608">THAN JUST SUSHI!</span>
      <span  class="e55_609">Just like true Japaneses, we give our food everything we’ve got!</span>
    </div>
  </div>
  <div class=e149_826>
    <div class=e55_610>
      <div  class="e55_611"></div>
      <button class="lets_order2" onclick="window.location.href='menu.html'">Let’s Order</button>  
    </div>
  </div>
</div>
</div>
          </body>
          </html>