{% extends "base.html" %}
{% load static %}
{% block title %}
 {% if category %}{{ category.name }}{% else %}dishs{% endif %}
{% endblock %}


{% block content %}
 <div id="sidebar">
 <h3>Categories</h3>
 <ul>
 <li {% if not category %}class="selected"{% endif %}>
 <a href="">All</a>
 </li>
 {% for c in categories %}
 <a href="">{{ c.name }}</a>

{% endfor %}

 {% for d in dishes %}
 <div class="item">
 <a href="{% url 'dishes:dish_detail' d.id %}">
 <img src="{% if d.image %}{{ d.image.url }}{% else %}{% 
static "img/no_image.png" %}{% endif %}">
 </a>
 <a href="{% url 'dishes:dish_detail' d.id %}">{{ d.name }}</a>
 <br>
 ${{ d.price }}
 </div>

 {% endfor %}

 </div>
{% endblock %}



{% comment %} ========================================================================== {% endcomment %}


<html lang="en">
          <head>
            <meta charset="utf-8">
            <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="styles.css">
          </head>
          
          <body>
            <div class=menu>
              <div class=category>
                <button  class="sashimi">sashimi </button>
                <button  class="roll">roll </button>
                <button  class="soup">soup</button>
                <button  class="beverage">beverage</button>
                <button  class="appetizer">appetizer </button>
              </div>
              <div class=menu_dish2>
                <div  class="adish2"></div>
                <a href ="dishDetail.html" ><img  class="img_dish2" src = "images/gyoza.png"></a>
                <span  class="name_dish2">gyoza</span>
                <span  class="price_dish2">50.000 VND </span>
                <div class=aboard21>
                  <button  class="button_add_dish_to_order2"></button>
                  <span  class="add_dish_to_order2">Add to order </span>
                </div>
              </div>
              <div class=menu_dish6>
                <div  class="adish6"></div>
                <a href ="dishDetail.html" ><img  class="img_dish6" src = "images/gyoza.png"></a>                
                <span  class="price_dish6">50.000 VND </span>
                <span  class="name_dish6">garlic bread</span>
                <span  class="price_dish6">50.000 VND </span>
                <div class=aboard61>
                  <button  class="button_add_dish_to_order6"></button>
                  <span  class="add_dish_to_order6">Add to order </span>
                </div>               
              </div>
              <div class=menu_dish4>
                <div  class="img_dish4"></div>
                <div  class="adish4"></div>
                <span  class="name_dish4">edamema</span>
                <span  class="price_dish4">50.000 VND </span>
                <div class=aboard41>
                  <div  class="aboard42"></div>
                  <span  class="add_dish_to_order4">Add to order </span>
                </div>
              </div>
              <div class=menu_dish5>
                <div  class="adish5"></div>
                <div  class="img_dish5"></div>
                <span  class="name_dish5">shiitake </span>
                <span  class="price_dish5">50.000 VND </span>
                <div class=aboard51>
                  <div  class="aboard52"></div>
                  <span  class="add_dish_to_order5">Add to order </span>
                </div>
              </div>
              <div class=menu_dish3>
                <div  class="adish3"></div>
                <div  class="img_dish3"></div>
                <span  class="name_dish3">agedashi tofu</span>
                <span  class="price_dish3">50.000 VND </span>
                <div class=aboard31>
                  <div  class="aboard32"></div>
                  <span  class="add_dish_to_order3">Add to order </span>
                </div>
              </div>
              <div class=menu_dish1>
                  <div class=menu_dish11>      
                    <div  class="adish1"></div>
                    <span  class="name_dish1">tempura </span>
                    <span  class="price_dish1">50.000 VND </span>
                    <a href ="dishDetail.html" ><img  class="img_dish1" src = "images/tempura.png"></a>            
                  </div>
                  <div class=aboard31>
                    <div  class="aboard32"></div>
                    <span  class="add_dish_to_order3">Add to order </span>
                  </div>
              </div>
              <span  class="Our_dish_menu">Our dishes</span>
              <div class=the_whole_bar>
                <div  class="logo"></div>
                <span  class="_table_id_">_table_id_</span>
                <div  class="navi1"></div>
                <span  class="log_out">Log out</span>
                <div class="navigationBar">
                  <button class="AboutBar" onclick="window.location.href='aboutUs.html'">About</button>  
                  <button class="MenuBar" onclick="window.location.href='menu.html'">Menu</button> 
                  <button class="CartBar" onclick="window.location.href='cart.html'">Cart</button> 
                  <button class="HomeBar" onclick="window.location.href='homepage.html'">Home</button> 
                  <button class="OrderBar" onclick="window.location.href='order.html'">Order</button> 
                </div>
                </div>
              </div>
          </body>
          </html>