{% extends "base.html" %} 

{% load static %} 

{% block title %} 
{{ dish.name }}
{% endblock %} 

{% block content %}

<div>
  <img src="
  {% if dish.image %}
  {{ dish.image.url }}
  {% else %} 
  {% static "img/no_image.png" %}
  {% endif %}">
  <h1>{{ dish.name }}</h1>
  <h2>

      {{ dish.category }}

  </h2>
  <p class="price">${{ dish.price }}</p>
  <form action="{% url "cart:cart_add" dish.id %}" method="post">
    {{ cart_dish_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
   </form>
  {{ dish.description|linebreaks }}
</div>

{% endblock %}

{% comment %} ========================================================================= {% endcomment %}

<html lang="en">
          <head>
            <meta charset="utf-8">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Grandstander&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="styles.css">
          </head>
          
          <body>
            <div class=dish_detail_page>
              <div class=dish_detail_page1>
                <div class=the_whole_bar>
                  <div  class="logo"></div>
                  <span  class="_table_id_">_table_id_</span>
                  <div  class="navi1"></div>
                  <span  class="log_out">Log out</span>
                  <div class="navigationBar">
                    <button class="AboutBar" onclick="window.location.href='aboutUs.html'">About</button>  
                    <button class="MenuBar" onclick="window.location.href='menu.html'">Menu</button> 
                    <button class="CartBar" onclick="window.location.href='cart.html'">Cart</button> 
                    <button class="HomeBar" onclick="window.location.href='homepage.html'">Home</button> 
                    <button class="OrderBar" onclick="window.location.href='order.html'">Order</button> 
                  </div>
                  </div>
                </div>
               </div>
               <div class=dish_detail_dish>
                <span  class="name">Tempura</span>
                <span  class="dish_detail_price">350.000 VND</span>
                <span  class="dish_detail_detail">A dish known as narezushi (馴れ寿司, 熟寿司, "salted fish"), stored in fermented rice for possibly months at a time, has been cited as one of the early influences for the Japanese practice of applying rice on raw fish.The fish was fermented with rice vinegar, salt, and rice, after which the rice was discarded. The process can be traced back to the early domestication of rice in the Neolithic cultures of China.</span>
                <div class=dish_detail_board>
                  <button  class="dish_detail_button_add"></button>
                  <a  class="dish_detail_button_add_to_order">Add to order </a>
                </div>
                <div  class="dish_detail_img_dish"></div>
                <div  class="dish_detail_img_Of_Dish"></div>
                <div  class="dish_detail_3"></div>
                <div  class="dish_detail_4"></div>
                <div  class="dish_detail_5"></div>
              </div>
            </div>
          </body>
          </html><html lang="en">
            <head>
              <meta charset="utf-8">
              <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Grandstander&display=swap" rel="stylesheet">
              <link rel="stylesheet" href="styles.css">
            </head>
            
            <body>
              <div class=dish_detail_page>
                <div class=dish_detail_page1>
                  <div class=the_whole_bar>
                    <div  class="logo"></div>
                    <span  class="_table_id_">_table_id_</span>
                    <div  class="navi1"></div>
                    <span  class="log_out">Log out</span>
                    <div class="navigationBar">
                      <button class="AboutBar" onclick="window.location.href='aboutUs.html'">About</button>  
                      <button class="MenuBar" onclick="window.location.href='menu.html'">Menu</button> 
                      <button class="CartBar" onclick="window.location.href='cart.html'">Cart</button> 
                      <button class="HomeBar" onclick="window.location.href='homepage.html'">Home</button> 
                      <button class="OrderBar" onclick="window.location.href='order.html'">Order</button> 
                    </div>
                    </div>
                  </div>
                 </div>
                 <div class="dish_detail_dish">
                  <span  class="name">Tempura</span>
                  <span  class="dish_detail_price">350.000 VND</span>
                  <span  class="dish_detail_detail">A dish known as narezushi (馴れ寿司, 熟寿司, "salted fish"), stored in fermented rice for possibly months at a time, has been cited as one of the early influences for the Japanese practice of applying rice on raw fish.The fish was fermented with rice vinegar, salt, and rice, after which the rice was discarded. The process can be traced back to the early domestication of rice in the Neolithic cultures of China.</span>
                  <div class=dish_detail_board>
                    <button  class="dish_detail_button_add"></button>
                    <a  class="dish_detail_button_add_to_order">Add to order </a>
                  </div>
                  <div  class="dish_detail_img_dish"></div>
                  <div  class="dish_detail_img_Of_Dish"></div>
                  <div  class="dish_detail_3"></div>
                  <div  class="dish_detail_4"></div>
                  <div  class="dish_detail_5"></div>
                </div>s
              </div>
            </body>
            </html>