{% extends "base.html" %} 

{% load static %} 

{% block title %} 
{{ dish.name }}
{% endblock %} 

{% block content %}

<div>
  <img src="
  {% if dish.image %}
  {{ dish.image.url }}
  {% else %} 
  {% static "img/no_image.png" %}
  {% endif %}">
  <h1>{{ dish.name }}</h1>
  <h2>

      {{ dish.category }}

  </h2>
  <p class="price">${{ dish.price }}</p>
  <form action="{% url "cart:cart_add" dish.id %}" method="post">
    {{ cart_dish_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
   </form>
  {{ dish.description|linebreaks }}
</div>

{% endblock %}
