$gelasio-font : "Gelasio";
$glory-font : "Glory";
$gochi-hand-font : "Gochi Hand";
$gentium-basic-font : "Gentium Basic";
$fruktur-font : "Fruktur";
$gloria-hallelujah-font : "Gloria Hallelujah";
$gluten-font : "Gluten";
$inter-font : "Inter";
$galada-font : "Galada";
$freckle-face-font : "Freckle Face";
$fredoka-font : "Fredoka";